@import "./Variables.scss";

// * {
//   background-color: black;
//   color: white;
// }

body {
  font-family: $font-stack;
  background-color: #d1d1d1b2;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.budgetTotals {
  margin: 20px 20px 20px 0;
}

//flex display
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.navitem {
  padding: 5px;
}
