.btn {
  width: 70px;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  //margin-top: 20px;
  background: #0b8c14;
  color: white;
  border: none;
  //display: inline-block;

  &:hover {
    background: #109e1a;
  }
}

.form {
  display: inline-flex;
}
